{
  "name": "module_name",
  "version": "1.0.0",
  "description": "Some description",
  "author": "Surjit Kumar Sahoo",
  "license": "MIT",
  "main": "src/index.js",
  "type": "module",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "engines": {
    "node": ">=14.5.0"
  }
}